<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- dashboard card -->
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Dashboard</h5>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perspiciatis laborum numquam ducimus molestias magnam voluptates
              molestiae, natus totam iusto placeat quae nobis adipisci,
              laudantium sunt ullam, veniam rerum alias excepturi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
