<section id="inbox" class="px-4 py-5" v-cloak>
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- current users to chat -->
      <div class="col-12 col-md-4 col-lg-4">
        <div v-if="currentUsersTab" class="card shadow-sm">
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card-body">
              <h5 class="card-title mb-3 d-flex justify-content-between">
                Inbox
                <a @click="showAddUserTab">+</a>
              </h5>
            </div>
            <a
              class="list-group-item list-group-item-action"
              href="#message"
              role="tab"
              data-bs-toggle="list"
              v-for="user in messageUsersList"
              ><div class="d-flex">
                <img
                  width="27.203"
                  height="27"
                  class="rounded-circle me-2"
                  :src="user.profile_picture_url"
                />
                {{ user.name }}
              </div></a
            >

            <div
              class="list-group-item d-flex justify-content-center align-items-center"
              v-if="messageUsersList.length == 0"
              style="height: 755px"
            >
              + to message user
            </div>
          </div>
        </div>

        <!-- chose which user to message -->
        <div v-if="addUserTab" class="card shadow-sm">
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card-body">
              <h5 class="card-title mb-3" @click="hideAddUserTab"><</h5>
            </div>
            <a
              class="list-group-item list-group-item-action"
              href="#"
              role="tab"
              v-for="user in users"
            >
              <div class="d-flex" @click="addToMessageUsersList(user)">
                <img
                  width="27.203"
                  height="27"
                  class="rounded-circle me-2"
                  :src="user.profile_picture_url"
                />
                {{ user.name }}
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show card shadow-sm active"
            id="message"
            role="tabpanel"
          >
            <div class="card-body">
              <h5 class="card-title mb-3">Delete account</h5>
              <div>
                <div class="bg-light border" style="height: 700px"></div>
                <div class="input-group input-group-lg mt-2">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="message..."
                    aria-label="message..."
                    aria-describedby="button-addon2"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    id="button-addon2"
                  >
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/scripts/lib/socket.io.min.js"></script>
<script>
  Vue.createApp({
    data() {
      return {
        users: <%- JSON.stringify(users) %>, // make sure inside is single quote
        onlineUsers: [],
        messageUsersList: [],
        addUserTab: false,
        currentUsersTab: true,
      };
    },
    created() {
      const socket = io();
      socket.emit("chat message", "<%= locals.user.name %>");
    },
    methods: {
      showAddUserTab() {
        this.addUserTab = true;
        this.currentUsersTab = false;
      },
      hideAddUserTab() {
        this.addUserTab = false;
        this.currentUsersTab = true;
      },
      addToMessageUsersList(user) {
        this.messageUsersList.push(user);
        this.hideAddUserTab();
      }
    },
  }).mount("#inbox");
</script>
