<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!--  signup-form -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="card shadow-sm animate__animated animate__fadeIn">
          <div class="card-body">
            <form id="signupFormFromSinglePage" action="/signup" method="post">
              <!-- text -->
              <div class="text-center mb-4">
                <h4>Sign up</h4>
                <p>
                  Already have an account? <a href="/signin">Sign in</a> here
                </p>
              </div>

              <!-- name -->
              <div class="form-floating mb-3">
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name"
                  required
                />
                <label for="floatingInput">Name</label>
              </div>

              <!-- age -->
              <div class="form-floating mb-3">
                <input
                  name="age"
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="age"
                  required
                />
                <label for="floatingInput">Age</label>
              </div>

              <!-- weight class -->
              <div class="form-floating mb-3">
                <input
                  name="weight"
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="weight"
                  required
                />
                <label for="floatingInput">Weight</label>
              </div>

              <!-- gender -->
              <div class="form-floating mb-3">
                <input
                  name="gender"
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="gender"
                  required
                />
                <label for="floatingInput">Gender</label>
              </div>

              <!-- username -->
              <div class="form-floating mb-3">
                <input
                  name="username"
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="username"
                  required
                />
                <label for="floatingInput">Username</label>
              </div>

              <!-- password -->
              <div class="form-floating mb-3">
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  required
                />
                <label for="floatingPassword">Password</label>
              </div>

              <!-- email -->
              <div class="form-floating mb-3">
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  required
                />
                <label for="floatingInput">Email address</label>
              </div>

              <input
                type="hidden"
                id="csrfToken"
                name="_csrf"
                value="<%= csrfToken %>"
              />
              <!-- button -->
              <button
                id="signupButtonFromSinglePage"
                class="w-100 btn btn-lg btn-dark"
                type="submit"
              >
                Sign up
              </button>
              <hr class="my-4" />
              <small class="text-muted"
                >By clicking Sign up, you agree to the terms of use.</small
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
