<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!--  signin-form -->
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <div class="card shadow-sm animate__animated animate__fadeIn">
          <div class="card-body">
            <form id="signinFormFromSinglePage" action="/login" method="post">
              <!-- text -->
              <div class="text-center mb-4">
                <h4>Sign in</h4>
                <p>
                  Don't have an account yet? <a href="/signup">Sign up</a> here
                </p>
              </div>

              <!-- error message -->
              <%- include("../../partials/auth/auth-messages.ejs") %>

              <!-- email -->
              <div class="form-floating mb-3">
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  required
                />
                <label for="floatingInput">Email address</label>
              </div>
              <!-- password -->
              <div class="form-floating mb-3">
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  required
                />
                <label for="floatingPassword">Password</label>
              </div>
              <input
                type="hidden"
                id="csrfToken"
                name="_csrf"
                value="<%= csrfToken %>"
              />
              <!-- button -->
              <button
                id="signinButtonFromSinglePage"
                class="w-100 btn btn-lg btn-dark"
                type="submit"
              >
                Sign in
              </button>
              <hr class="my-4" />
              <small class="text-muted"
                >Forget your password?
                <a href="/forget-password">click here</a> to reset your
                password!</small
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
