<% if ( locals.isAuthenticated ) { %>
<div
  class="modal fade"
  id="addPostModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form
          id="addVideoFormModal"
          action="/videos?_csrf=<%= csrfToken %>"
          method="post"
          enctype="multipart/form-data"
        >
          <!-- text -->
          <div class="form-floating mb-4">
            <h4>Add video</h4>
          </div>

          <!-- file -->
          <div class="mb-3">
            <input
              type="file"
              class="form-control"
              id="floatingInput"
              name="video"
              accept="video/*"
              required
            />
          </div>

          <!-- Title  -->
          <div class="form-floating mb-3">
            <input
              name="title"
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="title"
              required
            />
            <label for="floatingInput">Title</label>
          </div>

          <!-- Description -->
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              name="description"
              id="description"
              style="height: 150px"
            ></textarea>
            <label for="floatingTextarea2">Description</label>
          </div>

          <div>
            <!-- user id -->
            <input
              type="hidden"
              id="userId"
              name="userId"
              value="<%= user.id %>"
            />
            <!-- button -->
            <button
              id="add-video_cancel-button"
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              id="add-video_submit-button"
              type="submit"
              class="btn btn-dark"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
