<style>
  a.page-link {
    display: inline-block;
  }
</style>
<div
  class="tab-pane fade show"
  id="list-videos"
  role="tabpanel"
  aria-labelledby="list-videos-list"
>
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title mb-3">Videos</h5>
      <table
        id="videos-dashboard"
        class="table table-striped"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Video</th>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="video in displayedPosts" :key="video.id">
            <!-- id -->
            <th scope="row">{{ video.id }}</th>

            <!-- video -->
            <td>
              <a
                :href="`/videos/${video.id}`"
                class="d-flex text-dark text-decoration-none"
                target="_blank"
              >
                <img
                  width="50"
                  height="50"
                  class="me-1"
                  id="navBarProfilePicture"
                  :src="video.screenshot_url"
                  alt=""
                />
                <div>
                  <span class="d-block text-truncate" style="max-width: 50px">
                    {{ video.title }}
                  </span>
                  <span
                    class="d-inline-block text-truncate"
                    style="max-width: 100px"
                  >
                    {{ video.description }}
                  </span>
                </div>
              </a>
            </td>

            <!-- date -->
            <td>{{ video.date }}</td>

            <!-- author -->
            <td>
              <a
                :href="`/users/${video.username}`"
                class="text-dark text-decoration-none"
                target="_blank"
              >
                {{ video.username }}
              </a>
            </td>

            <!-- comment -->
            <td>
              <a
                :href="`/videos/${video.id}/#comment_section`"
                class="text-dark text-decoration-none"
                target="_blank"
              >
                {{ video.comment }}
              </a>
            </td>

            <!-- action -->
            <td>
              <a class="btn btn-sm btn-warning me-1" href="#">Edit</a>
              <a class="btn btn-sm btn-danger" href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- pagination -->
      <nav>
        <ul class="pagination float-end">
          <li class="page-item">
            <a type="button" class="page-link" v-if="page != 1" @click="page--">
              Previous
            </a>
          </li>
          <li class="page-item">
            <a
              type="button"
              class="page-link"
              v-for="pageNumber in pages.slice(page-1, page+5)"
              @click="page = pageNumber"
            >
              {{ pageNumber }}
            </a>
          </li>
          <li class="page-item">
            <a
              type="button"
              @click="page++"
              v-if="page < pages.length"
              class="page-link"
            >
              Next
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-3">Videos</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  Vue.createApp({
    data() {
      return {
        posts: [],
        page: 1,
        perPage: 9,
        pages: [],
      };
    },
    methods: {
      setPages() {
        let numberOfPages = Math.ceil(this.posts.length / this.perPage);
        for (let index = 1; index <= numberOfPages; index++) {
          this.pages.push(index);
        }
      },
      paginate(posts) {
        let page = this.page;
        let perPage = this.perPage;
        let from = page * perPage - perPage;
        let to = page * perPage;
        return posts.slice(from, to);
      },
    },
    computed: {
      displayedPosts() {
        return this.paginate(this.posts);
      },
    },
    watch: {
      posts() {
        this.setPages();
      },
    },
    async created() {
      const res = await fetch("/videos.json");
      const data = await res.json();
      this.posts = data;
    },
    filters: {
      trimWords(value) {
        return value.split(" ").splice(0, 20).join(" ") + "...";
      },
    },
  }).mount("#list-videos");
</script>
