<% if (isAuthenticated) { %>
<div
  class="modal fade"
  id="deleteConfirmation"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div
    style="margin: 0 <%= pageTitle == 'TrainingLog: Videos' ? '35px' :  '25px' %>;"
    class="modal-dialog modal-dialog-centered mx-sm-auto mx-md-auto mx-lg-auto"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <!-- text -->
          <div class="form-floating mb-4">
            <h4>Confirmation</h4>
            <p>Are you sure you want to delete this video?</p>
          </div>

          <!-- button -->
          <input
            type="hidden"
            id="csrfToken"
            name="_csrf"
            value="<%= csrfToken %>"
          />
          <!-- button -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            No
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            onclick="deleteVideo(this)"
            class="btn btn-dark"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
