<% if (isAuthenticated) { %>
<!-- css -->
<style>
  #addPostModalFont,
  #videosList {
    color: white;
  }

  #addPostModalFont:hover,
  #videosList:hover {
    color: #dfdfdf;
  }

  #navBarProfilePicture {
    border: 2px solid white;
  }

  #navBarProfilePicture:hover {
    border: 2px solid #dfdfdf;
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
    outline-offset: -2px;
  }
</style>

<!-- html -->
<div class="d-flex align-items-center">
  <!-- search form -->
  <%- include("../auth/search-form.ejs") %>

  <!-- users -->
  <a href="/users"
    ><i
      id="videosList"
      class="bi bi-person-circle ms-2"
      style="font-size: 1.7em"
    ></i>
  </a>

  <!-- videos -->
  <a href="/videos"
    ><i
      id="videosList"
      class="bi bi-play-circle-fill ms-2"
      style="font-size: 1.7em"
    ></i>
  </a>

  <!-- add -->
  <a href="" data-bs-toggle="modal" data-bs-target="#addPostModal">
    <i
      id="addPostModalFont"
      class="bi bi-plus-circle-fill mx-2"
      style="font-size: 1.7em"
    ></i>
  </a>

  <!-- profile image -->
  <div class="btn-group d-flex justify-content-between align-items-center">
    <!-- image -->
    <img
      id="navBarProfilePicture"
      src="<%= user.profile_picture_url %> "
      alt="mdo"
      width="27.203"
      height="27"
      class="rounded-circle"
      type="button"
      class="btn btn-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    />
    <!-- dropdown menu -->
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end shadow-sm">
      <li>
        <a
          id="username-link"
          class="dropdown-item"
          href="/users/<%= user.username %> "
          >My profile</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="/settings">Settings</a>
      </li>
      <li><hr class="dropdown-divider" /></li>

      <li>
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="dropdown-item" type="submit">Log Out</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<% } else { %>

<!-- signin button -->
<a href="/signin" class="btn btn-outline-light">Sign in</a>

<% } %>
