<% if (isAuthenticated) { %>
<!-- post a comment -->
<div class="col-lg-9 col-sm-12 my-0">
  <div class="card shadow-sm">
    <div class="card-body" id="comment_section">
      <h5 class="card-title">Comment</h5>
      <div class="form-group mb-3">
        <input
          type="hidden"
          id="username"
          name="username"
          value="<%= user.username %>"
        />
        <input
          type="hidden"
          id="videoId"
          name="videoId"
          value="<%= videoDetails.id %>"
        />

        <textarea
          class="form-control"
          name="comment"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
      </div>
      <input
        type="hidden"
        id="csrfToken"
        name="_csrf"
        value="<%= csrfToken %>"
      />
      <button
        id="postAComment"
        type="button"
        class="btn btn-dark"
        onclick="postComment(this)"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<% } else { %>
<!-- sign in to comment -->
<div class="col-lg-9 col-sm-12 mt-0" id="comment_section">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Comment</h5>
      <p class="card-text"><a href="/signin">Sign in</a> to comment!</p>
    </div>
  </div>
</div>
<% } %>
