@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400&display=swap");

.card-img-top:hover {
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  outline: 1px solid #737373;
  outline-offset: -1px;
}

/* -------------------- pagination -------------------- */
.pagination > li > a {
  background-color: white;
  color: #212529;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #212529 !important;
  border: solid 1px #212529 !important;
}

.pagination > .active > a:hover {
  background-color: #212529 !important;
  border: solid 1px #212529;
}
