<section class="px-4 py-5 border-top">
  <div class="container">
    <div class="row g-3">
      <div class="my-5 text-center">
        <h1 class="fw-bold">404</h1>
        <h2>Page not found</h2>
        <p>We could not find the above page on our servers.</p>
      </div>
    </div>
  </div>
</section>
