<!-- spinner -->
<%- include('../partials/spinner.ejs') %>

<section class="px-4 py-5 border-top">
  <div class="container">
    <div class="row g-3">
      <div class="my-5 text-center">
        <h1 class="fw-bold">500</h1>
        <h2><%= error.message %></h2>
        <% if (locals.env == 'development') { %>
          <pre class="text-start"><%= error.stack %> </pre>
        <% } else { %>
          <p class="text-start text-center"><%= error.stack %> </p>
        <% } %>
      </div>
    </div>
  </div>
</section>
