<section class="px-4 py-5 border-top">
  <div class="container">
    <div class="row g-3">
      <div class="my-5 text-center">
        <h1 class="fw-bold">500</h1>
        <pre class="text-start"><%= error %> </pre>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/coaching-section.ejs') %>
