<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- privacy card -->
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">About</h5>
            <br />
            <p>
              Instagram is the best medium for powerlifters among other social
              media. Back in the day, YouTube used to be it. Ever since
              powerlifting has gotten popular, majority of the content usually
              reside on Instagram.
            </p>
            <p>
              Instagram used to be really good before facebook bought it. Now it
              has gotta a lot worse with unrelated contents. It has also gotten
              a lot worse on the aspect of privacy. So I decided to ditch
              Instagram and build my own platform to log my and client training.
            </p>
            <p>
              I have open sourced this project. You can visit the link below to
              view the source code!
            </p>
            <p>
            <a target="_blank" href="https://github.com/wajeht/training-log-v2">https://github.com/wajeht/training-log-v2</a>
            </p>
            <br>
            <p>
              If you have any questions, feel free to contact me via
              <a href="/contact">this link!</a>
            </p>
            <br />
            <p>
              Best,<br />
              Jaw
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
