<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- faq card -->
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">FAQ</h5>
            <br />
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
              similique quo fugit dolorem vel cumque cum aperiam est unde quod,
              accusamus magni! Animi incidunt odit modi officia nisi officiis
              laboriosam?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
