<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- Account settings -->
      <div class="col-4">
        <div class="card shadow-sm">
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card-body">
              <h5 class="card-title mb-3">Edit Profile</h5>
            </div>
            <a
              class="list-group-item list-group-item-action active"
              id="list-home-list"
              data-bs-toggle="list"
              href="#list-edit-profile"
              role="tab"
              aria-controls="list-home"
              >Edit profile</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-profile-list"
              data-bs-toggle="list"
              href="#list-change-password"
              role="tab"
              aria-controls="list-profile"
              >Change password</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-messages-list"
              data-bs-toggle="list"
              href="#list-delete-account"
              role="tab"
              aria-controls="list-messages"
              >Delete account</a
            >
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <!-- edit profile form -->
          <%- include('../partials/auth/edit-profile-form.ejs') %>

          <!-- edit password form -->
          <div
            class="tab-pane fade show card shadow-sm"
            id="list-change-password"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <div class="card-body">
              <h5 class="card-title mb-3">Change password</h5>
              <form
                id="signupFormFromSinglePage"
                action="/signup"
                method="post"
              >
                <!-- old password -->
                <div class="form-floating mb-3">
                  <input
                    name="old-password"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="old password"
                    required
                  />
                  <label for="floatingInput">Old password</label>
                </div>

                <!-- new password -->
                <div class="form-floating mb-3">
                  <input
                    name="new-password"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="new password"
                    required
                  />
                  <label for="floatingInput">New password</label>
                </div>

                <!-- confirm new password  -->
                <div class="form-floating mb-3">
                  <input
                    name="confirm-new-password"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="confirm new password"
                    required
                  />
                  <label for="floatinginput">Password</label>
                </div>

                <button
                  id="public-info-save-changes"
                  type="button"
                  class="btn btn-dark"
                >
                  Change password
                </button>
              </form>
            </div>
          </div>

          <!-- delete account -->
          <div
            class="tab-pane fade show card shadow-sm"
            id="list-delete-account"
            role="tabpanel"
            aria-labelledby="list-home-list"
          >
            <div class="card-body">
              <h5 class="card-title mb-3">Delete account</h5>
              <form
                id="signupFormFromSinglePage"
                action="/signup"
                method="post"
              >
                <!-- Why -->
                <div class="form-floating mb-3">
                  <textarea
                    class="form-control"
                    name="delete"
                    placeholder="Why do you want to delete?"
                    id="floatingInput"
                    style="height: 150px"
                  ></textarea>
                  <label for="floatingInput">Why do you want to delete?</label>
                </div>

                <!-- password -->
                <div class="form-floating mb-3">
                  <input
                    name="email"
                    type="password"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Re-enter your password"
                    required
                  />
                  <label for="floatingInput">Re-enter your password</label>
                </div>
                <button
                  id="public-info-save-changes"
                  type="button"
                  class="btn btn-dark"
                >
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
