<section class="px-4 py-5">
  <div class="container">
    <div class="row gy-3 position-relative">
      <!-- Account settings -->
      <div class="col-4">
        <div class="card shadow-sm">
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card-body">
              <h5 class="card-title mb-3">Edit Profile</h5>
            </div>
            <a
              class="list-group-item list-group-item-action active"
              id="list-home-list"
              data-bs-toggle="list"
              href="#list-edit-profile"
              role="tab"
              aria-controls="list-home"
              >Edit profile</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-profile-list"
              data-bs-toggle="list"
              href="#list-change-password"
              role="tab"
              aria-controls="list-profile"
              >Change password</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-messages-list"
              data-bs-toggle="list"
              href="#list-delete-account"
              role="tab"
              aria-controls="list-messages"
              >Delete account</a
            >
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <!-- edit profile form -->
          <%- include('../partials/auth/edit-profile-form.ejs') %>

          <!-- edit password form -->
          <%- include("../partials/auth/change-password-form.ejs") %>

          <!-- delete account -->
          <%- include("../partials/auth/delete-account-form.ejs") %>
        </div>
      </div>
    </div>
  </div>
</section>
