<section class="bg-dark px-4 py-5">
  <div class="container col-xl-10 col-xxl-8">
    <div class="row align-items-center g-lg-5 py-5">
      <!-- signup -->
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="card shadow-sm">
          <div class="card-body">
            <form id="contactFormCoachingSection">
              <!-- text -->
              <div class="mb-4">
                <h4>Contact</h4>
              </div>

              <!-- name -->
              <div class="form-floating mb-3">
                <input
                  name="name"
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Name"
                  required
                />
                <label for="floatingInput">Name</label>
              </div>

              <!-- email  -->
              <div class="form-floating mb-3">
                <input
                  name="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  required
                />
                <label for="floatingInput">Email address</label>
              </div>

              <!-- message -->
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  name="message"
                  id="message"
                  style="height: 150px"
                ></textarea>
                <label for="floatingTextarea2">Message</label>
              </div>
              <div>
                <!-- csrf -->
                <input
                  type="hidden"
                  id="csrfToken"
                  name="_csrf"
                  value="<%= csrfToken %>"
                />
                <!-- button -->
                <button
                  id="signinButtonFromSinglePage"
                  class="w-100 btn btn-lg btn-dark"
                  type="button"
                  onclick="postContactOnCoachingSection(this)"
                >
                  Send
                </button>
              </div>

              <hr class="my-4" />
              <small class="text-muted"
                >For emergencies, call us at
                <a href="tel:18063188390">(806) 318-8390</a></small
              >
            </form>
          </div>
        </div>
      </div>

      <!-- text -->
      <div class="col-lg-7 text-lg-end pt-5 text-light">
        <h1 class="display-4 fw-bold lh-1 mb-3">
          Interest in our
          <span style="color: #f1b980">coaching services?</span>
        </h1>
        <p class="col-lg-12 fs-4">
          Send us your information on the left, we will get back to you as soon
          as possible!
        </p>
        <div>
          <a href="/" class="btn btn-outline-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
