<section class="bg-dark px-4 py-5">
  <div class="container col-xl-10 col-xxl-8">
    <div class="row align-items-center g-lg-5 py-5">
      <!-- signup -->
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light shadow-sm">
          <div class="text-center mb-4">
            <h4>Contact us</h4>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="name"
              id="floatingInput"
              placeholder="Name"
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              id="floatingInput"
              placeholder="Email address"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <button class="w-100 btn btn-lg btn-dark" type="submit">Send</button>
          <hr class="my-4" />
          <small class="text-muted"
            >By clicking Sign up, you agree to the terms of use.</small
          >
        </form>
      </div>

      <!-- text -->
      <div class="col-lg-7 text-lg-end pt-5 text-light">
        <h1 class="display-4 fw-bold lh-1 mb-3">
          Interest in our
          <span style="color: #f1b980">coaching services?</span>
        </h1>
        <p class="col-lg-12 fs-4">
          Send us your information on the left, we will get back to you as soon
          as possible!
        </p>
        <div>
          <a href="/" class="btn btn-outline-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
