<section class="bg-white">
  <div class="container px-4 py-5">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
      <!-- feature 1 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-hand-index-thumb" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Easy to use</h2>
        <p>
          Sign up using your fake information to start uploading videos. No
          complicated setup required!
        </p>
      </div>

      <!-- feature 2 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-github" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Open source</h2>
        <p>
          This full-stack web app is open sourced on Github. You can go check it
          out via this
          <a href="https://github.com/wajeht/training-log-v2" target="_blank"
            >link!</a
          >
        </p>
      </div>

      <!-- feature 3 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-shield-check" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Keep your privacy</h2>
        <p>
          We do not collect any of your data to do anything else than just
          logging your videos. Nothing more, nothing less!
        </p>
      </div>
    </div>
  </div>
</section>
