<section class="bg-white">
  <div class="container px-4 py-5">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
      <!-- feature 1 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-hand-index-thumb" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Easy to use</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>

      <!-- feature 2 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-file-lock" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Secure</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>

      <!-- feature 3 -->
      <div class="feature col">
        <div class="p-2 d-flex justify-content-center align-items-center">
          <i class="bi bi-shield-check" style="font-size: 5em"></i>
        </div>
        <h2 class="text-center">Keep your privacy</h2>
        <p>
          Paragraph of text beneath the heading to explain the heading. We'll
          add onto it with another sentence and probably just keep going until
          we run out of words.
        </p>
      </div>
    </div>
  </div>
</section>
