<!-- css -->
<style>
  #squatVideo {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #212529;
  }
</style>

<!-- html -->
<section id="hero" class="bg-dark border-bottom" style="position: relative">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start" style="z-index: 99">
        <h1 class="display-4 fw-bold lh-1 text-white">
          JawStrength
          <span style="color: #f1b980">presents</span>
        </h1>
        <p
          class="col-lg-10 fs-4 text-light description"
          style="height: 105px"
        ></p>
        <div>
          <a href="/about" class="btn btn-outline-light">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <!-- video -->
  <video
    preload="auto"
    autoplay
    loop
    muted="muted"
    poster="/images/poster.jpg"
    id="squatVideo"
    class="animate__animated animate__fadeIn"
  >
    <source src="/videos/squat.mp4" type="video/mp4" />
  </video>
</section>
