<style>
  #logoFont {
    color: white;
  }

  .nav-item a,
  .copy-right a {
    color: white;
  }

  .nav-item a:hover,
  .copy-right a:hover {
    color: #dfdfdf;
  }
</style>
<footer
  class="text-light bg-dark px-4 pt-5"
  style="border-top: 2px solid #383d3f"
>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <a
          id="logoFont"
          class="navbar-brand pb-3"
          href="/"
          style="font-family: 'Birthstone Bounce'; font-size: 25px"
        >
          Traininglog
        </a>
        <ul class="nav d-flex pb-2">
          <li class="nav-item">
            <a href="/faq" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/terms" class="nav-link">Terms</a>
          </li>
          <li class="nav-item">
            <a href="/privacy" class="nav-link">Privacy</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
        <p class="pb-3 copy-right">
          &copy; Copyright 2021 JawStrength, LLC. All rights reserved.
          <a href="https://github.com/wajeht/training-log-v2" target="_blank"
            >View on github!</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
