<style>
  #logoFont:hover {
    color: #dfdfdf;
  }
</style>

<header
  class="sticky-top navbar-dark bg-dark shadow-sm"
  style="border-bottom: 1px solid #383d3f"
>
  <div class="px-4">
    <div class="container">
      <nav class="navbar">
        <a
          id="logoFont"
          class="navbar-brand"
          href="/"
          style="font-family: 'Birthstone Bounce'; font-size: 25px"
        >
          Traininglog
        </a>

        <!-- nav auth -->
        <%- include('../partials/auth/nav-auth.ejs') %>
      </nav>
    </div>
  </div>
</header>
