<header
  class="sticky-top navbar-dark bg-dark shadow-sm"
  style="border-bottom: 1px solid #383d3f"
>
  <div class="px-4">
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="/">
          <i class="bi bi-journal-richtext"></i>
          TrainingLog
        </a>

        <!-- nav auth -->
        <%- include('../partials/auth/nav-auth.ejs') %>
      </nav>
    </div>
  </div>
</header>
